<!DOCTYPE html>
<html>
	<title>Spark.le! Jewelry</title>
<head>

	<style>

		body {
			background-opacity: 0.1;
			background-position: center;
			padding-left: 50px;
			background-repeat: none;
			
		}
		h1 {
			font-family: sans-serif;
			text-align: center;
			color: #480000;
		}
		img {
			width: 200px;
			height: 200px;
		}

		ul {
			padding: 10px;
		}

		li {
			font-family: sans-serif;
			color: #480000;
			padding-top: 10px;
			padding-bottom: 15px;
			font-size: 16px;
			font-weight: bold;
			width: 33%;
			float: left;
			list-style-type: none;
		}
		table {
			width: 400px;
		}
		header {
			height: 100%;
			float: right;
			padding-right: 50px;
		}
		#logo {
			height: 70px;
			width: 70px;			
		}

	</style>

</head>
<body>
	<header>
		
		<img id = "logo" src = "http://globe-views.com/dcim/dreams/diamond/diamond-01.jpg"/>

	</header>


	<table>
	<% if (admin) { %>
		<td><a class="hyper" href="/categories/new"> Create a new Category </a></td>
		<td><form method="POST" action="/logout">
			<td><button style="border:2px green solid;">Logout</button></td>
	<% } %>
		</form>
	</table>
	<form method="POST" action="http://localhost:3000/index">
	</form>
	
	
	<h1>Spark.le!</h1>
	<p>
		
		<ul>
			<% sparkle.forEach(function(category) { %> 
			<li>
				<%= category.name %></br></br>
				<a class="list" href="/sparkle/<%= category.id %>"><img src="<%= category.image %>"></a>

			</li>
			<% }); %>
		</ul>
	</p>	
</body>
</html>