<!DOCTYPE html>
<head>
	<style>
		body {
			padding-left: 50px;
			background-color: #99EBFF;
			font-family: sans-serif;
		}
		input[type="text"] {
			width: 400px;
			font-size: 20px;
		}
		table {
			width: 800px;
		}
	</style>

</head>
<body>
	<table>
		<td><a href="/sparkles">Home</a></td>
		<td><form method="POST" action="/logout">
			<button style="border:2px green solid;">Logout</button></td>
		</form>
	</table>
	<h1>Create a new Category</h1>
	<form action ="/categories" method="POST">
		<p><input class="text" type="text" name="name" placeholder="name" required><br></p>
		<input class="image" type="text" name="image" placeholder="url"></br></br>
		<input type="submit" value="Save New Category" style="border:2px green solid;"/>

	</form>
	
</body>
</html>