
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #99EBFF;
            padding-left: 50px;
        }
        table {
            text-align: center;
        }
    </style>
    
	<title></title>
</head>
<body>
    <td><a href="/sparkles">Home</a></td>

    <h2>Shopping cart</h2>


    <table border="1">

        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <% for (var i = 0; i<cart.length; i++) { %>

        <tr>
            <td><%= cart[i].itemName %></td>
            <td><%= cart[i].itemQty %></td>
            <td><%= cart[i].itemPrice %></td>
            <td><%= cart[i].itemQty * cart[i].itemPrice %></td>
        </tr>
        <%}%>

    </table>

    <br/><br/>
    <form action='/cart' method="POST">
    <a href="/order">Checkout</a>
    


</body>
</html>
